body{
  background: url(material/yes.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Lobster', cursive;
  font-family: 'Gruppo', cursive;
}
body:hover{
  background-color: #76448A;
  background-image: none;
}
#cabecera{
  width: 100%;
  height: 200px;
  background-color: white;
  border-radius: 20px;
}
audio{
  margin-top: 75px;
  margin-left: 30px;
  background-color: #76448A;
  border-radius: 10px;

}

@import url(https://fonts.googleapis.com/css?family=Signika:700,300,600);

html, body { height: ; }
#letras{
  display: flex; justify-content: left; align-items: center; margin:5px 0; overflow:hidden; margin-top: -320px; margin-left: 550px; }

h1 {
 font-size: 5px;
 font:bold 7.5vw/1.6 'Signika', sans-serif;
 user-select:none;
}

h1 span { display:inline-block; animation:float .2s ease-in-out infinite; }
 @keyframes float {
  0%,100%{ transform:none; }
  33%{ transform:translateY(-1px) rotate(-2deg); }
  66%{ transform:translateY(1px) rotate(2deg); }
}
body:hover span { animation:bounce .6s; }
@keyframes bounce {
  0%,100%{ transform:translate(0); }
  25%{ transform:rotateX(20deg) translateY(2px) rotate(-3deg); }
  50%{ transform:translateY(-20px) rotate(3deg) scale(1.1);  }
}

span:nth-child(4n) { color:hsl(50, 75%, 55%); text-shadow:1px 1px hsl(50, 75%, 45%), 2px 2px hsl(50, 45%, 45%), 3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%); }
span:nth-child(4n-1) { color:hsl(135, 35%, 55%); text-shadow:1px 1px hsl(135, 35%, 45%), 2px 2px hsl(135, 35%, 45%), 3px 3px hsl(135, 35%, 45%), 4px 4px hsl(135, 35%, 45%); }
span:nth-child(4n-2) { color:hsl(155, 35%, 60%); text-shadow:1px 1px hsl(155, 25%, 50%), 2px 2px hsl(155, 25%, 50%), 3px 3px hsl(155, 25%, 50%), 4px 4px hsl(140, 25%, 50%); }
span:nth-child(4n-3) { color:hsl(30, 65%, 60%); text-shadow:1px 1px hsl(30, 45%, 50%), 2px 2px hsl(30, 45%, 50%), 3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%); }

h1 span:nth-child(2){ animation-delay:.05s; }
h1 span:nth-child(3){ animation-delay:.1s; }
h1 span:nth-child(4){ animation-delay:.15s; }
h1 span:nth-child(5){ animation-delay:.2s; }
h1 span:nth-child(6){ animation-delay:.25s; }
h1 span:nth-child(7){ animation-delay:.3s; }
h1 span:nth-child(8){ animation-delay:.35s; }
h1 span:nth-child(9){ animation-delay:.4s; }
h1 span:nth-child(10){ animation-delay:.45s; }
h1 span:nth-child(11){ animation-delay:.5s; }
h1 span:nth-child(12){ animation-delay:.55s; }
h1 span:nth-child(13){ animation-delay:.6s; }
h1 span:nth-child(14){ animation-delay:.65s; }

.caja{
  width: 300px;
  height: 150px;
  background-color: #E8DAEF;
  text-align: center;
  float: left;
  line-height: 150px;
  margin: 40px;
  margin-top: -10px;
  transition: 0.5s ease;
  font-size: 30px;
  font-family: Gruppo;
  font-style: cursive;
}
a{
  width: 300px;
  height: 150px;
}
a:link {text-decoration: none }
a:hover { color: #76448A; font-family: Gruppo; text-decoration: cursive; }
a:visited {color: #76448A;  font-family: Gruppo; text-decoration: cursive;}

@-webkit-keyframes caja  {
  0%  { -webkit-transform:  rotate(0deg); }
  20%  { -webkit-transform:  rotate(2deg); }
  50%  { -webkit-trans  form:  rotate(-2deg); }
  100%  { -webkit-transform:  rotate(0deg); }
}
#act1:hover{
  -webkit-animation: caja 1s infinite;
  width: 300px;
  height: 150px ;
  background: url(material/m2m8uf101.png);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}
#act2:hover{
  -webkit-animation: caja 1s infinite;
  width: 300px;
  height: 150px ;
  background: url(material/m2m8uf102.png);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}
#act3:hover{
  -webkit-animation: caja 1s infinite;
  width: 300px;
  height: 150px ;
  background: url(material/m2m8uf103.png);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}
#act4:hover{
  -webkit-animation: caja 1s infinite;
  width: 300px;
  height: 150px ;
  background: url(material/m2m8uf301.png);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}
#act5:hover{
  -webkit-animation: caja 1s infinite;
  width: 300px;
  height: 150px ;
  background: url(material/m2m8uf302.png);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}
#act6:hover{
  -webkit-animation: caja 1s infinite;
  width: 300px;
  height: 150px ;
  background: url(material/m2m8uf303.png);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}
#act7:hover{
  -webkit-animation: caja 1s infinite;
  width: 300px;
  height: 150px ;
  background: url(material/m2m8uf304.png);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}
#act8:hover{
  -webkit-animation: caja 1s infinite;
  width: 300px;
  height: 150px ;
  background: url(material/m2m8uf305.png);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}
#act9:hover{
  -webkit-animation: caja 1s infinite;
  width: 300px;
  height: 150px ;
  background: url(material/responsive.png);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}
#act10:hover{
  -webkit-animation: caja 1s infinite;
  width: 300px;
  height: 150px ;
  background: url(material/formulario.png);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}
