@media only screen and (min-width:1068px){
  body{
    background-color: #9D81FC;
    transition: 1s;
  }

}

body{
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

.cuadros{
  text-align: center;
  line-height: 650px;
  height: 650px;
  width: 650px;
  background-color:white;
  float: left;
  margin:20px;
}

#contenedor{
}

#cabeza{
  text-align: center;
  line-height: 80px;
  background-color: white;
  width: 1910px;
  height: 80px;
  margin: 5px;
}

#uno{
background-color: #CCD1D1;
margin-right: 10px;
margin-left: 25px;
}

#dos{
background-color: #7F8C8D;
margin-left: 10px;
}

#tres{
background-color: #616A6B;
margin-right: 10px;
margin-left: 25px;
}

#cuatro{
background-color:#424949;
margin-left: 10px;
}

#titulo{
  text-align: center;
  line-height: 80px;
  background-color: white;
  width: 1910px;
  height: 80px;
  margin: 5px;
  float: left;
}

#pie{
  text-align: center;
  line-height: 150px;
  background-color: #D7D3E4;
  width: 1910px;
  height: 150px;
  margin: 5px;
  float: left;
}
