body {
  background-color: #99FF99;
  margin: 0;
}

div {
  font-family: serif;
  font-size: 47px;
  height: 200px;
  width: 200px;
  margin: 10px 5px;
  float: left;
  color: navy;
  line-height: 325px;
  text-indent: 150px;
}

#uno {
  background-color: #EDBB99;
}

#dos {
  background-color: #E59866;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

#tres {
  background-color: #DC7633;
}

#cuatro {
  background-color: #D35400;
  position: relative;
  top:  130px;
  left: 230px;
}

#cinco {
  background-color: #BA4A00;
}

#seis {
  background-color: #A04000;
}

#siete {
  background-color: #873600;
}

#ocho {
  background-color: #6E2C00;
  position: absolute;
  top:  500px;
  left: 200px;
}

#nueve {
  background-color: #78281F;
}

#diez {
  background-color: #943126;
}
